<h2 style='color:#fff'> Hey <%= current_user.name.capitalize  %> !</h2>
  <% if (current_user.items.blank? )  %>
    <p style='color:#fff;'>Let's create your first Todo list, i will help you further</p>
  <% else  %>
    <p style='color:#fff;'> Time to finish the task(s) listed below </p>
  <% end %>


<%= render partial: 'items/form' %>
</br>
<%= render @items %>





  <%#= render "items/form" %>

  <%#= render @items %>

