  <h2 style='color:#fff'> Hey <%= current_user.name %> !</h2>

  <p style='color:#fff;'>Let's create your first Todo list, i will help you further</p>
  
  <%= render partial: 'items/form' %>
  </br>
  <%= render @items %>
