<div class='row'>
  <div class='col-md-6 form_create_item '>
    <div class='form-group margin_item '>
      <div class='form-control form_created_item margin_item_task item_float'><%= item.name %></div>
        <%= link_to "task completed", item, method: :delete, class: 'btn btn-success' %>
      </div>
    </div>
</div>






  